* {
    margin:0;
    padding:0;
}

.bg-gray {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background:#271c2b;
    overflow:auto;
}

.bg-gray::-webkit-scrollbar {
    width:5px;
}

.bg-gray::-webkit-scrollbar-track {
    background:#F3F4F8;
}

.bg-gray::-webkit-scrollbar-thumb {
  background:#e6e6e6;
}

.img-wrapper {
    width:150px;
    height:150px;
    margin:30px auto 20px;
}

.name {
    font-size:1.3rem;
}

.job {
    max-width:200px;
    font-size:0.6rem;
    color:#696868;
    margin:0 auto;
    word-break:break-word;
}

.link-list {
    list-style:none;
    text-align:center;
    text-transform:uppercase;
    font-size:0.9rem;
    margin:30px 0;
}

.link-list li {
    margin-top:25px;
}

.link-list li .side-link {
    text-decoration:none;
    color:#8a8989;
}

.social-wrapper {
    width:170px;
    margin:0 auto;
}

.social-wrapper a {   
    margin-right:10px;
}

.social-wrapper a:last-of-type {
    margin-right:0;
}

.fab {
    font-size:35px;
}

.fa-facebook-square {
    color:#3A559F;
}

.fa-instagram {
    color:#e6e6e6;
}

.fa-twitter-square {
    color:#28A9E2;
}

.fa-youtube {
    color:#F61C0D;
}

.copy-wrapper {
    margin:70px 0 20px;
}

.copy {
    color:#777777;
    font-size:0.7rem;
}